<div class="container">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Manage Fleet</h2>
    <button mat-raised-button color="accent" routerLink="/register-courier">
      + Register New Courier
    </button>
  </div>

  <input type="text" [(ngModel)]="searchText" (input)="applyFilter()" placeholder="Filter by name or status...">

  @if (loading) {
    <div class="spinner-container"><mat-spinner></mat-spinner></div>
  } @else {
    <table class="simple-table">
      <thead>
      <tr>
        <th (click)="sortData('id')" style="cursor:pointer">ID ↕</th>
        <th (click)="sortData('name')" style="cursor:pointer">Name ↕</th>
        <th (click)="sortData('status')" style="cursor:pointer">Status ↕</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let courier of filteredCouriers" (click)="viewCourier(courier.id)" style="cursor: pointer;">
        <td>{{courier.id}}</td>
        <td>{{courier.name}}</td>
        <td>
            <span class="status-badge" [ngClass]="courier.status">
              {{courier.status}}
            </span>
        </td>
        <td>{{courier.latitude.toFixed(4)}}, {{courier.longitude.toFixed(4)}}</td>
        <td>
          <button mat-button color="primary" (click)="viewCourier(courier.id)">View</button>
          <button mat-button [color]="courier.status === 'ACTIVE' ? 'warn' : 'accent'" (click)="toggleStatus($event, courier)">
            {{ courier.status === 'ACTIVE' ? 'Deactivate' : 'Activate' }}
          </button>
          <button mat-button color="warn" (click)="deleteCourier($event, courier.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  }

  <button mat-raised-button color="primary" (click)="loadData()" style="margin-top: 20px;">
    Refresh Data
  </button>
</div>
